body{
  margin: 20px;
}
.wrapper{

}
.top{
  padding: 15px;
  background-color: #00bfa5;
}
.title{
  text-align: center;
}
.middle{
  overflow: auto;
  position: relative;
}
.sidebar{
  float: left;
  width: 200px;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: #004d40;
  padding: 10px;
}
.menuitem{
  height: auto;
  background-color: inherit;
  border: 0px;
  cursor: pointer;
  position: relative;
  width: auto;
  margin-right: 5px;
  margin-left: 5px;
}
.main{
  padding: 30px;
  margin-left: 250px;
}

.bottom{
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #efefef;
  text-align: center;
}
a{
  font-size: larger;
  color: white;
}

.msg_errore{
  display: inline-block;
  margin: 20px;
  color: red;
  font-size: large;
  padding: 5px;
}
#msg{
  visibility: hidden;
  display: inline-block;
  margin: 20px;
  color: black;
  font-size: large;
  border: solid;
  padding: 5px;
}
